body {
  margin: 50px;
  display: flex;
  align-items: center;
}
#maps {
  width: 400px;
  height: 400px;
  background: url("../img/cell.png");
}
#buy,
#count {
  width: 300px;
  height: 180px;
}
img {
  width: 50px;
  height: 50px;
  margin-top: 5px;
}
.active img {
  background: rgba(0, 0, 0, 0.3);
}

.object {
  border: 1px solid #000;
  cursor: pointer;
  text-align: center;
}
.object:hover {
  outline: 2px solid #000;
  outline-offset: -3px;
}

.is-no-start {
  background: url(../img/krupa.jpg);
}
.sale-object:hover img {
  border: 2px solid #000;
  cursor: pointer;
}
#regulations:hover {
  position: fixed;
  width: 500px;
  height: 300px;
  display: block;
  z-index: 100;
  content: "cfvfve";
}
.h {
  display: none;
}
